/*Custom properties*/
:root {
    --primary: #c2185b;
    --secundary: #ffc107;
    --primariooscuro: rgb(156, 10,69); 
    --fuenteprimaria: 'Arial', Helvetica, sans-serif;
    --fuentesecundaria: 'Poppins', sans-serif;
 }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary);
    font-family: var(--fuenteprimaria);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-amarillo {
    background-color: var(--secundary);
}

.sombra {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    -moz-box-shadow:0px 2px 9px 0px rgba(0,0,0,0.71);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    border-radius: 10px;
}

h1, h2 {
    font-family: var(--fuentesecundaria);
    text-align: center;
    margin: 0%;
}

h1 {
    padding: 20px;
    color: #fff;
}

.contenedor-barra {
    background-color: var(--primariooscuro);
}

/*Formulario*/
form {
    padding: 3rem;
    margin-top: 2rem;
}

form leyend {
    font-family: var(--fuentesecundaria);
    font-size: 2rem;
    text-align: center;
}

leyend span {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}

@media (min-width:760px) {
    .campos {
        display: flex;
        justify-content: space-between;
    }

    .campo {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.campo {
    padding: .5rem 0;
}

.campo label {
    font-size: 1.2rem;
}

.campo input[type="text"],
.campo input[type="tel"] {
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

.campo input[type="submit"] {
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
}

.campo input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--primariooscuro);
}

@media (min-width:760px) {
    .campo input[type="submit"] {
        flex: 0 0 auto;
    }
}