/*Custom properties*/
:root {
    --primary: #c2185b;
    --secundary: #ffc107;
    --primariooscuro: rgb(156, 10,69); 
    --fuenteprimaria: 'Arial', Helvetica, sans-serif;
    --fuentesecundaria: 'Poppins', sans-serif;
 }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary);
    font-family: var(--fuenteprimaria);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-amarillo {
    background-color: var(--secundary);
}

.sombra {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    -moz-box-shadow:0px 2px 9px 0px rgba(0,0,0,0.71);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
}

h1, h2 {
    font-family: var(--fuentesecundaria);
    text-align: center;
    margin: 0%;
}

h1 {
    padding: 20px;
    color: #fff;
}

.contenedor-barra {
    background-color: var(--primariooscuro);
}

/*Formulario*/
form {
    padding: 3rem;
    margin-top: 2rem;
}

form leyend {
    font-family: var(--fuentesecundaria);
    font-size: 2rem;
    text-align: center;
}

leyend span {
    font-size: 1rem;
    margin-top: 1rem;
    clear: both;
    display: block;
}